/* fakecss:E:/Code/Javascript/isk-calculator/src/svelte/cristal-view/cristal-view.esbuild-svelte-fake-css */
img.svelte-17702vf {
  width: 40px;
  height: 40px;
}
input.svelte-17702vf {
  width: 56px;
  text-align: center;
}
.layout.svelte-17702vf {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-inner-border.svelte-17702vf {
  z-index: -1;
  width: 56px;
  height: 56px;
  position: absolute;
  border: 3px #5d4037 ridge;
  border-radius: 10px;
}
.card.svelte-17702vf {
  width: 56px;
  height: 56px;
  margin: 36px 24px 12px 24px;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.super-card.svelte-17702vf {
  position: relative;
}
@property --angle { syntax:"<angle>";initial-value:0deg;inherits:false }
.super-card.svelte-17702vf::after,
.super-card.svelte-17702vf::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 3px;
  border-radius: 10px;
  background-image:
    conic-gradient(
      from var(--angle),
      #ff000000,
      #ffee58,
      #ff000000,
      #ff000000,
      #ffee58,
      #ff000000,
      #ff000000);
  animation: 3s svelte-17702vf-spin linear infinite;
}
.super-card.svelte-17702vf::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes svelte-17702vf-spin {
  from {
    --angle:0deg;
  }
  to {
    --angle:360deg;
  }
}

/* fakecss:E:/Code/Javascript/isk-calculator/src/svelte/main.esbuild-svelte-fake-css */
main.svelte-1idsn7m.svelte-1idsn7m {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
h1.svelte-1idsn7m.svelte-1idsn7m,
h2.svelte-1idsn7m.svelte-1idsn7m {
  text-align: center;
}
.crystal-group.svelte-1idsn7m.svelte-1idsn7m {
  display: grid;
  grid-template-columns: auto auto auto;
}
.days-group.svelte-1idsn7m.svelte-1idsn7m {
  margin-top: 64px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.days-group.svelte-1idsn7m h1.svelte-1idsn7m {
  margin: 0;
}
.days-group.svelte-1idsn7m h2.svelte-1idsn7m {
  margin: 0;
}
.information-group.svelte-1idsn7m.svelte-1idsn7m {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information-group.svelte-1idsn7m p.svelte-1idsn7m {
  margin: 0;
}
.options-group.svelte-1idsn7m.svelte-1idsn7m {
  width: auto;
  min-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.input-chip.svelte-1idsn7m.svelte-1idsn7m {
  height: 32px;
  padding: 0 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background: var(--md-sys-color-surface-container-low);
  color: var(--md-sys-color-on-surface);
}
